<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <!-- 控制台输出 -->
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%F:%M:%L] : %m%n"/>
        </console>
    </appenders>

    <loggers>
        <!--过滤掉spring无用的debug信息-->
        <logger name="org.springframework" level="warn"></logger>

        <!-- 如果没有指定logger的级别，只能打印root级别以上的日志 -->
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </loggers>

</configuration>